@tailwind base;
@tailwind components;
@tailwind utilities;

.valid-square-to-move:before {
  display: inline-block;
  content: "";
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background-color: black;
  opacity: 0.2;
}

.valid-square-to-move-capture:before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2) inset;
}

.inner-border-highlight {
  border: solid 4px #ffffff;
}

.highlight-last-move:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #00ffff;
  opacity: 0.3;
  z-index: 1;
}
